@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.hero-bg {
  background: #307d99 url("../images/bg.jpg");
  background-position: 12% 150%;
  color: white;
  text-align: center;
  padding-bottom: 4em;
}

header {
  padding: 1em 0;
}

.hero-bg a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

section {
  margin: 0 1em;
}

h1 {
  font-size: 2.5rem;
  margin: 2em 0 1.2em;
}

h1 span {
  text-transform: uppercase;
  display: block;
  font-size: 1.4rem;
  position: relative;
  z-index: 1;
}

h1 span::before {
  content: " ";
  position: absolute;
  width: 3em;
  background: #00bfff;
  height: 0.4em;
  bottom: 0;
  z-index: -1;
  margin-left: -0.3em;
}

.hero-bg p {
  font-weight: bold;
  margin: 0 1em 3em;
}

.form-container {
  background-color: white;
  margin: 2em -1em 0;
  padding: 2em;
}
label {
  color: #2d7d98;
  font-weight: bold;
  display: block;
  margin-bottom: 1em;
  font-size: 1.2em;
}
input[type="text"] {
  border: 1px solid #707070;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 0.5em;
  margin-top: 1.2em;
}
.form-container p {
  color: gray;
  margin-bottom: 1.5em;
  font-weight: normal;
  font-size: 0.9em;
  margin-top: 0.3em;
}

input[type="button"] {
  background-color: #f89104;
  border: none;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: 1em 0;
  border-radius: 0.5em;
  font-size: 1.3em;
  cursor: pointer;
}
input[type="button"]:hover {
  background-color: #d37c02;
}
